<section id="solutions" class="programs">
    <h2>Découvrez nos solutions d'analyse</h2>
    <div class="program-cards">
        <div class="card">
            <div class="img-placeholder">Image 1</div>
            <h3>Analyse des données neurophysiologiques</h3>
            <p>Utilisez nos solutions pour surveiller en temps réel les données neurophysiologiques et améliorer la santé mentale.</p>
            <button class="btn btn-secondary">En savoir plus</button>
        </div>
        <div class="card">
            <div class="img-placeholder">Image 3</div>
            <h3>Accédez à vos données en temps réel</h3>
            <p>Notre plateforme permet une visualisation claire et intuitive des données physiologiques pour un suivi optimal.</p>
            <button href="actisens\src\app\registration" class="btn btn-secondary">Inscrivez-vous</button>
        </div>
    </div>
</section>
